@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/*

font-family: 'Open Sans', sans-serif; (Headings, Call-to-actions, Header Navigation)

font-family: 'Raleway', sans-serif; (Body)

*/

:root{
    /* primary */
    --clr-Very-Dark-Blue: #070439;
    --clr-Desaturated-Blue: #585989;

    /* Accent */
    --clr-Bright-Blue: #3065f8;
    --clr-Moderate-Cyan: #3c9f8f;

    /* Neutral */
    --clr-Light-Grayish-Blue: #f6f6fe;
    --clr-Light-Gray: #bfbfbf;

    /* fonts */
    --font-open-sans: 'Open Sans', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
}

html{
    font-size: 16px;
}
ul{
    list-style-type: none;}
a{
    text-decoration: none;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li{
    display: inline;
    padding: 1rem;
}
header .container img{
    padding: 3rem;
    margin-left: 1rem;
}
header .container ul{
    margin-right: 5rem;
    padding-left: 3rem;
    font-family: var(--font-open-sans);
}
header li a{
    color: var(--clr-Very-Dark-Blue);
}

header .top-part{
    display: flex;
    flex-direction: row;
    padding: 4rem;
}
.top-right{
    margin-left: 0;
    padding-left: 0;
}
.top-right img{
    width: 100%;
}
.top-left h1{
    font-size: 2.8rem;
    font-family: var(--font-Raleway);
    line-height: 4rem;
    color: var(--clr-Very-Dark-Blue);
    margin-top: 3rem;
    font-style: normal;
}
.top-left p{
    font-family: var(--font-open-sans);
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0;
}
.top-left form{
    margin: 1.5rem 0 1rem 0;
}
.top-left form input{
    padding: 0.8rem;
    font-family: var(--font-open-sans);
    width: 42%;
    border: 1px solid;
    border-radius: 3px;
}
.top-left form button{
    background-color: var(--clr-Bright-Blue);
    color: var(--clr-Light-Grayish-Blue);
    margin-left: 1rem;
    border-radius: 3px;
    font-family: var(--font-Raleway);
    font-weight: 600;
    padding: 0.85rem 4rem;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 3px var(--clr-Very-Dark-Blue);
    font-size: 0.9rem;
}
.top-left form button:hover{
    opacity: 0.65;
    cursor: pointer;
}

.middle-part{
    margin-top: 6rem;
    padding: 4rem;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: -280rem;
    background-size: 800%;
    display: flex;
    opacity: 1;
}
.middle-top{
    padding-top: 7rem;
}

.mid-1 h2{
    font-size: 2.5rem;
    font-family: var(--font-Raleway);
    font-weight: 700;
    color: var(--clr-Very-Dark-Blue);
}
.mid-1 p{
    font-family: var(--font-open-sans);
    font-weight: 400;
    line-height: 1.3rem;
    padding: 0;
    margin-left: 0;
}
.mid-1 a{
    color: var(--clr-Moderate-Cyan);
    border-bottom: 1px solid ;
    padding-bottom: 0.3rem;
    display: inline;
}
.mid-2{
    padding: 1.7rem;
    margin: 5rem 1rem 1rem 1rem;
    background-color: #fff;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--clr-Light-Gray);
    box-shado
    border:none;
    outline: none;
    width: 50%;
}
.mid-2_1 img{
    display: flex;
    padding: 0;
    margin: 0;
}
.mid-2_1 p{
    font-family: var(--font-open-sans);
    line-height: 1.3rem;
    font-size: 0.84rem;
    color: var(--clr-Very-Dark-Blue);
}
.mid-2_2{
    padding: 0;
    margin: 0;
    display: flex;
}
.mid-2_2 img{
    clip-path: circle();
    height: 2.5rem;
}
.mid-2_3 h3{
    padding: 0;
    margin-top: 0.6rem;
    font-size: 0.75rem;
}
.mid-2_3 p{
    font-size: 0.6rem;
}
.mid-2_3 h3, p{
    margin-left: 0.6rem;
    line-height: 0.5;
}
.mid-img{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 54%;
    margin: 0;
    margin-top: 12.5%;
    margin-left: rem;
}
.mid-img img{
    padding: 0;
    margin: 0;
    height: 30rem;
    width: auto;
}


.middle_bottom{
    color: var(--clr-Light-Grayish-Blue);
    padding: 4.5rem;
    background-color: var(--clr-Desaturated-Blue);
    display: flex;
    justify-content: space-around;
}
.middle_bottom-left{
    display: flexbox;
    justify-content: left;
    text-align: left;

    margin: 0;
    padding: 0;
    line-height: 5rem;
    margin-left: -15%;
}
.middle_bottom-left h2{
    font-family: var(--font-Raleway);
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
}
.middle_bottom-left p{
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    font-family: var(--font-open-sans);
}
.middle_bottom-right{
    margin-top: 2.5rem;
}
.middle_bottom-right form{
    display: flex;
    flex-direction: column;
}
.middle_bottom-right form input{
    display: flex;
    text-align: left;
    padding: 1rem 10rem 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: outset solid var(--clr-Desaturated-Blue);
    box-shadow: 0px 0px 3px;
    border-width: 0;
    font-family: var(--font-Raleway);
}

.middle_bottom-right button{
    padding: 0;
    width: 12rem;
    padding: 0.9rem 0.9rem;
    background-color: var(--clr-Bright-Blue);
    color: var(--clr-Light-Grayish-Blue);
    font-family: var(--font-open-sans);
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
footer{
    background-color: var(--clr-Very-Dark-Blue);
    color: var(--clr-Light-Grayish-Blue);
}
.logo-bottom{
    color: var(--clr-Light-Grayish-Blue);
}
footer a, li{
    color: var(--clr-Light-Grayish-Blue);
    
}